@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

:root {
    --purple: #6810BF;
    --light-purple: #9557d2;
    --dark-purple: #530c98;
}

* {
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a,
button,
h2,
li {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
p {
    cursor: default;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

p {
    font-size: max(3vw, 30px);
}

.horizontal-line {
    display: flex;
    justify-content: center;
}

.primaryButtonWhite {
    border-radius: 50px;
    padding: 1rem 2rem;
    border: none;
    color: var(--purple);
    background: #fff;
    transition: all .6s ease 0s;
}

.primaryButtonPurple {
    border-radius: 2px;
    padding: 1rem 1rem;
    border: none;
    background: var(--purple);
    color: #fff;
    transition: all .6s ease 0s;
    margin-top: 5px;
}

.primaryButtonWhite:hover {
    cursor: pointer;
    transition: .5s;
    transform: scale(1.1);
}

.primaryButtonPurple:hover {
    cursor: pointer;
    transition: .5s;
    transform: scale(1.05);
}

#particles-js {
    background-image: linear-gradient(90deg, #7e00c3, #1c002a);
    height: 91vh;
    position: relative;
    overflow: hidden;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

nav.navbar {
    background-image: linear-gradient(90deg, #7e00c3, #1c002a);
}

nav .navbar-nav .translate {
    transition: all .6s;
}

nav .navbar-nav li a{
    color: white;
    font-size: larger;
    text-decoration: none;
    padding-left: 2rem;
}

nav .navbar-nav .translate:hover{
    transform: translateY(15px);
}

nav .navbar-nav .scale a i{
    color: white;
    font-size: 30px;
    transition: all 0.3s;
}

nav .navbar-nav .scale a i:hover{
    transform: scale(1.2);
}

navbar-link {
    color: white;
    font-size: xx-large;
}

.social-link > i {
    font-size: 25px;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    transition: all 0.3s;
}

.navbar-brand img:hover {
    transform: scale(1.2);
}

#hamburger {
    color: white;
    font-size: 30px;
    transition: all .3s;
}

#hamburger:hover {
    transform: scale(1.2);
}

#hamburger:active {
    border: none;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
}

.hero-div {
    position: absolute;
    color: #fff;
    margin-left: 10vw;
}

.hero-div>h1{
    font-size: max(3vw, 35px);
}

.ime {
    font-size: inherit;
    font-weight: 700;
    background: -webkit-linear-gradient(20deg, #ff0, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects>h1 {
    padding: 5rem 0 1rem 10vw;
    color: var(--purple);
    font-size: max(3vw, 35px);
}

.project-grid {
    padding: 0 10% 5rem 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    justify-items: center;
}

.project-tile {
    background-color: var(--purple);
    border-radius: 2px;
    border: 2px solid var(--purple);
    width: 100%;
    height: 300px;
    text-decoration: none;
    text-align: center;
}

.project-tile:hover>p>.code {
    color: #ff0;
}

.project-image {
    height: calc(100% - 2rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    color: #fff;
    font-size: large;
}

.code {
    font-weight: 700;
    font-size: larger;
    color: var(--purple);
    transition: color .3s ease-out;
}

.technologies {
    background-image: linear-gradient(90deg, #1c002a, #7e00c3);
    color: #fff;
    display: flex;
    flex-direction: column;
}

.technologies>h1 {
    padding: 5rem 0 1rem 10vw;
    font-size: 20px;
}

.technologies>p {
    padding-left: 10vw;
    padding-right: 50px;
    font-size: 30px;
}

.technologies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    column-gap: 10rem;
    row-gap: 5rem;
    padding: 5rem;
}

.technologies-tile {
    display: flex;
    flex-direction: column;
}

.technologies-tile>h3 {
    font-size: 35px;
}

.technologies-tile>i {
    font-size: 40px;
}

.technologies-tile>p {
    font-size: 30px;
}

.about {
    color: var(--purple);
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.about>div>h2 {
    padding: 2rem 0 1rem 10vw;
}

.about-div>h1 {
    font-size: 50px;
    padding: 5rem 0 1rem 10vw;
}

.about-div>p {
    padding-left: 10vw;
    font-size: 30px;
}

.about-div>p {
    padding-bottom: 20px;
    padding-right: 50px;
}

.social-about {
    display: none;
}

form {
    margin: 0 10vw;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-field>input,
form>input,
form>textarea {
    margin: 5px 0;
}

.input-field {
    display: flex;
    justify-content: space-between;
}

.input-field>input {
    width: 100%;
}

.input-field>input,
form>input,
form>textarea {
    border-radius: 2px;
    border: none;
    padding: 20px;
    background-color: var(--light-purple);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

::placeholder {
    color: #dcdcdc;
    font-size: 16px;
}

.input-field>input:last-child {
    margin-left: 10px;
}

hr {
    width: 90%;
}

.footer-list {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.footer-list li {
    color: var(--purple);
}

.footer-list li:nth-child(1) {
    padding-bottom: 10px;
}

.footer-list li a {
    color: var(--purple);
    text-decoration: none;
}

.default {
    cursor: default;
}

.transformX {
    transition: all .6s ease 0s;
}

.transformX:hover {
    transform: translateX(10px);
    color: var(--blue);
}

.social-footer>a:not(:nth-child(1)) {
    margin-left: 1.5rem;
}

.social-footer>a>i {
    color: var(--purple);
    font-size: 30px;
    transition: all .6s;
}

.social-footer>a>i:hover {
    transform: scale(1.2);
}

@media (max-width:1150px) {
    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1070px) {
    .technologies-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media (max-width:1050px) {
    form {
        width: 40rem;
    }
}

@media (max-width:800px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width:740px) {
    form {
        width: 35rem;
    }

    .input-field {
        flex-direction: column;
    }

    .input-field>input {
        width: 32.5rem;
    }

    .input-field>input:last-child {
        margin-left: 0;
    }

    .about {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:700px) {
    form {
        width: 25rem;
    }

    .about > div > h2 {
        margin-top: 2rem;
    }

    .input-field>input {
        width: 22.5rem;
    }
}

@media (max-width:650px) {
    footer>.social-footer {
        display: none;
    }

    .social-about {
        display: flex;
        justify-content: center;
    }
    
    .social-about>a:not(:nth-child(1)) {
        margin-left: 5rem;
    }
    
    .social-about>a>i {
        color: var(--purple);
        font-size: 30px;
        transition: all .6s;
    }
    
    .social-about>a>i:hover {
        transform: scale(1.2);
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .footer-column {
        padding: 0;
        margin: 0;
        padding-left: auto;
    }
}

@media (max-width:480px) {
    .footer-list {
        padding: 10px;
    }
}
